<!doctype html>
<html>
<head>
    <title>My Website</title>
</head>

<style>
    body{background: black; color: #fff; padding: 30px;}
    h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
    p{font-size: 22px; text-align: left;}
</style>





<body>
    {{{body}}}
</body>
</html>
