<!DOCTYPE html>
<html>
<head>
<style> 
input[type=text] {
    width: 30%;
    padding: 5px 20px;
    margin: 5px 0;
    box-sizing: border-box;
}
</style>
</head>
<body>

<p>Add Quarterback:
<I>Add a new quarterback to the list of candidates.</I></p>

<form>
    <h2>
  <left> 
  <label for="fname">First Name:</label>
  <input type="text" id="fname" name="fname">
  </left> 
  <right>
  <label for="lname">Last Name:</label>
  <input type="text" id="lname" name="lname"></right>
  <br>                    
  <label for="age">Age:</label>
  <input type="text" id="age" name="age">
  <br>
  <label for="hometown">Hometown:</label>
  <input type="text" id="hometown" name="hometown">
  <br>
  <label for="school">School:</label>
  <input type="text" id="school" name="school">
</h2>
</form>

</body>

<br>

<style>
.button {
    background-color: rgb(3, 109, 95);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.button:hover {
    background-color: rgb(4, 168, 218);
}
</style>
</head>
<body>

<button class="button"><type ="submit">Submit</button></type>

</body>





</html>