<!DOCTYPE html>
<html>
<head>

 <center><h2>Current Quarterbacks</h2></center>
 <p>Welcome {{userName}}</p>
 <br>
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid rgb(71, 158, 136);
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #023528;}

#customers tr:hover {background-color: rgb(0, 123, 194);}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(2, 59, 63);
    color: white;
}
</style>
</head>
<body>

<table id="customers">
  <tr>
    <th>Full Name</th>
    <th>School</th>
    <th>Completion Ratio</th>
    <th>View</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Berglunds snabbköp</td>
    <td>Christina Berglund</td>
    <td>Sweden</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Königlich Essen</td>
    <td>Philip Cramer</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
  <tr>
    <td>North/South</td>
    <td>Simon Crowther</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Paris spécialités</td>
    <td>Marie Bertrand</td>
    <td>France</td>
  </tr>
</table>

</body>

<br>

<style>
.button {
    background-color: rgb(3, 109, 95);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.button:hover {
    background-color: rgb(4, 168, 218);
}
</style>
</head>
<body>

<button class="button"><type ="submit">Add a Quarterback</button></type>

</body>




</html>
